Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.16.4
scikit-learn==0.21.2
tensorboard==1.14.0
tensorflow-datasets==1.0.2
tensorflow-estimator==1.14.0
tensorflow-gpu==2.3.1
tensorflow-metadata==0.13.0
tensorflow-probability==0.7.0
